@import "../../assets/styles/global/_global-dir";

.page-filter {
  @include flex-d;
  min-height: 8.75rem;
  padding-top: 2.8125rem;
  .dsp {
    color: #303030cc;
  }
  .filter-wrapper {
    @include display;
    @include align;
    .filter-row {
      @include display;
      @include align;
      margin-bottom: 0.3125rem;
      .MuiFormControlLabel-root {
        margin-left: 0.4375rem;
        margin-right: 0.4375rem;
      }
      .Select {
        margin-left: 0.4375rem;
        .FormSelect {
          min-width: 200px;
        }
      }
    }
  }
  .orchard-check {
    padding-left: 1.25rem;
  }
}
.filter-dropdown {
  @include flex-d(flex, space-between, center);
  @include border-radius(0.3125rem);
  border: 1px solid #d9d9d9;
  background-color: #ffffff;
  min-height: 2.5rem;
  width: 12.5rem;
  padding: 0 0.9375rem;
  margin-left: 0.3125rem;
  .FontIcon {
    color: rgba(0, 0, 0, 0.5);
  }
  .title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
//Remove After Dropdown
.repertoire {
  .select-root {
    span {
      &::before {
        content: "Repertoire";
      }
    }
  }
}
.rank {
  .select-root {
    span {
      &::before {
        content: "Rank";
      }
    }
  }
}
