@import "../../assets/styles/global/_global-dir";

.benchmark-tableList {
  .MuiTableContainer-root {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    .MuiTable-root {
      background-color: rgb(255, 255, 255);
      .MuiTableHead-root {
        .MuiTableRow-root {
          height: 3.75rem;
          background-color: rgba(0, 0, 0, 0.02);
          .MuiTableCell-root {
            font-family: $medium;
            font-size: 0.875rem;
            padding: 0rem 1.25rem;
            .track-category{
              min-width: 11rem;
              max-width: 11rem;
              margin: auto;
            }
          }
        }
      }
      .MuiTableBody-root {
        .MuiTableRow-root {
          background-color: rgba(255, 255, 255, 0.4);
          border-bottom: 1px solid rgb(235, 237, 240);
          &.border-bottom {
            border-bottom: 1.5px solid rgba(0, 0, 0, 0.4);
          }
          .MuiTableCell-root {
            border-bottom: unset;
            font-family: $medium;
            font-size: 1.125rem;
            .FontIcon {
              font-size: 2rem;
            }
            .track-streams {
              font-size: 1.25rem;
            }
            .track-name-artist {
              @include flex-d(flex, flex-start, center);
              .track-image {
                @include display;
                @include align(center);
                min-width: 140px;
                max-width: 140px;
                img {
                  @include border-radius(10px);
                  width: 100%;
                  height: 100%;
                }
              }
              .track-details {
                padding-left: 1rem;
                text-align: left;
                .track-name {
                  font-size: 1.25rem;
                }
                .track-by,
                .track-label {
                  font-family: $regular;
                  font-size: 0.875rem;
                  opacity: 0.7;
                }
                .track-by {
                  margin-bottom: 1.8rem;
                  display: inline-block;
                  max-width: 500px;
                }
              }
            }
            .position-avg{
              background-color: antiquewhite;
            }
          }
          .position-avg{
            background-color: rgba(151, 151, 151, 0.08);
            color:rgba(0, 0, 0, 0.5)
          }
        }
      }
      .hidden-content.MuiTableRow-root {
        .MuiTableCell-root {
          .MuiCollapse-root {
            .MuiCollapse-wrapper {
              .MuiCollapse-wrapperInner {
                .MuiBox-root {
                  .MuiTable-root {
                    border-bottom: 1px solid rgb(235, 237, 240);
                    .track-empty-div {
                      width: 14rem;
                      border: unset;
                    }
                    .track-data {
                      font-family: $medium;
                      padding-left: 1rem;
                      .track-subheader {
                        font-size: 0.875rem;
                        color: rgba(0, 0, 0, 0.5);
                        margin-bottom: 0.25rem;
                      }
                      .track-header {
                        font-size: 1rem;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .MuiTableCell-sizeSmall {
          padding: 1.6rem 0px;
          border-bottom: 1px solid rgb(235, 237, 240);
          border-top: 1px solid rgb(235, 237, 240);
        }
      }
    }
    .MuiTablePagination-root.table-pagination {
      min-height: 52px;
      padding-right: 2px;
      background-color: rgb(255, 255, 255);
      padding: 20px;
    }
  }
}
