@import "../../../assets/styles/style.scss";

.Button {
  &.normal-btn {
    color: #ffffff;
    font-family: $medium;
    text-transform: uppercase;
    font-size: 1rem;
    min-height: 2.5rem;
    border-radius: 0.3125rem;
    padding: 0 0.9375rem;
    background-color: #ef4d52;

    .FontIcon {
      margin-right: 0.4375rem;
    }
    &:hover {
      background-color: #ef4d52;
    }
  }

  &.trs-btn {
    font-family: $medium;

    &:hover {
      background-color: transparent;
    }
  }

  &.outline-btn {
    border: 1px solid #ef4d524d;
    color: #ef4d52;
    background-color: #ffffff;

    &:hover {
      background-color: #ef4d52;
      color: #ffffff;
    }
  }

  &.disabled-btn {
    background-color: #f2e9ce;
    color: rgba(0, 0, 0, 0.4) !important;
  }

  &.iconBtn {
    background-color: transparent !important;
    // padding: unset;

    > span {
      color: rgba(0, 0, 0, 0.8);
      font-size: 1rem;
      font-family: $medium;

      span {
        padding-right: 0.5rem;
      }
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.2) !important;
    }
  }

  &.icon-btn {
    .FontIcon {
      color: #000000;
      font-size: 0.9rem;
    }
  }

  //size
  &.large {
    font-size: 1rem;
    min-height: 2.5rem;
  }

  &.white {
    background: #0000000d 0% 0% no-repeat padding-box;
    border: 1px solid #95989a40;
    border-radius: 5px;
    &:focus {
      background: #0000000d 0% 0% no-repeat padding-box;
    }
    &:hover {
      background: #0000000d 0% 0% no-repeat padding-box;
    }
  }
  &.transparent {
    background: transparent;
    &:focus {
      background: transparent;
    }
    &:hover {
      background: transparent;
    }
  }

  &.grey {
    background: rgba(255, 255, 255, 0.15);
    &.Button.large {
      padding-left: 0.7rem;
    }

    &.normal-btn {
      .FontIcon{
        color: #ffffff;
      }
    }
  }

  @media (min-width: 1200px) {
    &.normal-btn {
      font-size: 0.875rem;
      min-height: 1.875rem;
      border-radius: 0.3125rem;
      padding: 0rem 0.88rem;
      .FontIcon {
        @include display;
        @include align(inherit);
        margin-right: 0.7rem;
        color: #000000;
        width: 0.875rem;
        height: 0.875rem;
      }
    }
    &.iconBtn {
      > span {
        font-size: 0.875rem;
        span {
          padding-right: 0.5rem;
        }
      }
    }
    //size
    &.large {
      font-size: 0.875rem;
      padding: 0rem 1.25rem;
      min-height: 2.5rem;
    }
  }
}
